/* #box{
    background-color: rgb(4, 76, 76);
    color: white;
} 
.heading {
    color: rgb(150, 16, 119);
}

h1,h2,h3 {
    color:rgb(160, 10, 55);
}
button{
    background-color: darkgreen;
} */
p{
    text-emphasis: end ;
}
h1{
    text-align: center;
    text-decoration: line-through;
}
a{
    text-decoration:none;
}
